<div class="container page-starred-repositories-list">
  <h1><%= t("messages.favorite_repositories") %></h1>
  <div class="repositories-wrapper">
    <% if @starred_repositories.present? %>
      <% @starred_repositories.each do |starred_repository| %>
          <% repository = starred_repository.repository %>

          <div class="card" id=<%= starred_repository.id %>>
            <div class="card-body row align-items-center">
              <div class="w-75">
                <%= link_to(repository.url, { target: "_blank" }) do %>
                  <h3 class="card-title"><%= repository.owner_name %> / <%= repository.name %></h3>
                <% end %>

                <div class="card-text">
                  <p><%= repository.description %></p>
                  <p class="mb-0 small text-secondary"><%= "#{t('messages.starred_at')} #{l(repository.created_at, format: :date)}" %></p>
                </div>
              </div>

              <div class="remove-btn w-25">
                <div class="mb-3 d-flex justify-content-between flex-row">
                  <%= form_with model: starred_repository, local: false, method: :put, class: "" do |form| %>
                    <%= hidden_field_tag(:donate_intention, :one) %>
                    <div><%= form.submit number_to_currency(1.00), id: "one-btn-#{starred_repository.id}", class: "btn #{starred_repository.one? ? "btn-success" : "btn-primary" }" %></div>
                  <% end %>

                  <%= form_with model: starred_repository, local: false, method: :put, class: "" do |form| %>
                    <%= hidden_field_tag(:donate_intention, :five) %>
                    <div><%= form.submit number_to_currency(5.00), id: "five-btn-#{starred_repository.id}", class: "btn #{starred_repository.five? ? "btn-success" : "btn-primary" }" %></div>
                  <% end %>

                  <%= form_with model: starred_repository, local: false, method: :put, class: "" do |form| %>
                    <%= hidden_field_tag(:donate_intention, :ten) %>
                    <div><%= form.submit number_to_currency(10.00), id: "ten-btn-#{starred_repository.id}", class: "btn #{starred_repository.ten? ? "btn-success" : "btn-primary" }" %></div>
                  <% end %>
                </div>

                <div>
                  <%= form_with model: starred_repository, local: false, method: :delete, class: "d-flex justify-content-end" do |form| %>
                    <%= form.submit t("messages.remove"), data: { disable_with: "Removing" }, class: "btn btn-danger w-100" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <h3 class="text-center"><%= t("messages.no_favorite_repositories") %></h3>
    <% end %>
  </div>
</div>
